.promotion--PC {
    display: block;
  }
  .Promotion--Mb {
    display: none;
  }
  
  .modal-dialog {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
  .promotion--PC {
    width: 1100px;
    position: relative;
    margin: 0 auto;
    top: 245px;
  }
  img.Pro--Games {
    width: 15%;
    margin-top: 4%;
    margin-inline-start: 25%;
  }
  img.Bg--Tab--Text {
    width: 75%;
    margin-top: 1%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .promotion--PC ul.nav.nav-tabs {
    justify-content: space-around;
    z-index: 1;
    height: 33px;
    --bs-nav-tabs-border-width: 0px;
    font-size: 23px;
    width: 66%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 3%;
    top: 33px;;
  }
  .modal-content {
    background-color: #fff0;
  }
  .nav-link {
    color: #ffff;
  }
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    background-color: #ff000000;
    color: #eeaf4a;
  }
  .nav {
    --bs-nav-link-hover-color: #ffff;
  }
  .tab-content {
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    padding-bottom: 30%;
  }
  img.w-100 {
    margin-top: 5%;
  }
  img.icon--Games--All {
    width: 20%;
    margin-left: 40%;
    margin-top: 2%;
    padding-bottom: 10%;
  }

  @media screen and (max-width: 1100px){
    .promotion--PC {
        width: 800px;
        top: 135px;
    }
    .promotion--PC ul.nav.nav-tabs {
        font-size: 15px;
        top: 22px;
    }
  }

  @media screen and (max-width: 800px){
    .promotion--PC {
        width: 650px;
        top: 100px;
    }
    .promotion--PC ul.nav.nav-tabs {
        font-size: 14px;
        top: 15px;
    }
  }
  @media screen and (max-width: 650px){
    .promotion--PC {
        width: 485px;
        top: 80px;
    }
    .promotion--PC ul.nav.nav-tabs {
        font-size: 12px;
        top: 8px;
    }
  }

  @media screen and (max-width: 480px) {
  .promotion--PC {
    display: none;
  }
  .Promotion--Mb {
    display: block;
  }
  .table--games--PC {
    width: 370px;
    margin: 0 auto;
    position: relative;
    top: 150px;
}

.text--box--mbP {
    width: 370px;
    margin: 0 auto;
    position: relative;
}
img.Bgtext--show--MbP {
    width: 97%;
    top: 1px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}
.text--show--MbP {
    width: 100%;
    height: 55px;
    position: relative;
    top: 170px;
}
.text--tab--mbP {
    position: absolute;
    top: 0;
    width: 85%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 4%;
    color: #ffff;
    font-size: 10px;
}
img.closetext--show--MbP {
    width: 5%;
    position: absolute;
    right: 0%;
    top: 0;
}
.Promotion--Mb ul.nav.nav-tabs {
    justify-content: space-around;
    z-index: 1;
    height: 33px;
    --bs-nav-tabs-border-width: 0px;
    font-size: 13px;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 3%;
    top: 20px;
  }
  .tab-content {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    padding-bottom: 50%;
}
}
@media screen and (max-width: 400px){
    .table--games--PC {
        width: 300px;
        top: 130px;
    }
    .text--box--mbP {
        width: 300px;
    }
    .Promotion--Mb ul.nav.nav-tabs {
        font-size: 10px;
        width: 96%;
        top: 14px;
    }
    .text--show--MbP {
        top: 144px;
    }
    
}
@media screen and (max-width: 320px){
    .table--games--PC {
        width: 230px;
        top: 95px;
    }
    .text--box--mbP {
        width: 230px;
    }
    .Promotion--Mb ul.nav.nav-tabs {
        font-size: 10px;
        width: 96%;
        top: 14px;
    }
    img.Bg--Tab--TextP {
        width: 100%;
        height: 87px;
    }
    .text--show--MbP {
        top: 115px;
    }
}